<%- include('../partials/header') %>
<%- include('./show') %>

<div class="messages-container">
    <form id="edit-channel-form" class="messages-container" action="/channels/<%= channel.current._id %>?_method=PUT" method="POST">
        <input class="form-input" autocomplete="nope" pattern="^[_A-z0-9]*((-|\s)*[_A-z0-9])*$" placeholder="Channel Name" 
        value="<%= channel.current.name.replace(/-+/g, ' ') %>" type="text" name="name" required>
        <textarea class="form-textarea" placeholder="Channel Description" name="description"><%= channel.current.description %></textarea>
        <div class="form-checkbox">
            <input id="form-private-edit" type="checkbox" name="channelType" <%= channel.current.channelType === '1' ? 'checked' : '' %>>
            <label class="form-checkbox-global" for="form-private-edit">Global</label>
            <label class="form-checkbox-private" for="form-private-edit">Private</label>
        </div>
        <input class="form-submit" type="submit" value="Update Channel">
    </form>
</div>

<%- include('../partials/footer') %>