<%- include('../partials/header'); %>

<%- include('../partials/channels'); %>

<div class="messages-container">
    <% if (messages && messages.length) {
        let prevMember;
        let prevDate;
        messages.forEach(message => { %>
           <div class="message-container">
               <% const curDate = new Date(message.createdAt);
               if (prevDate.getDay() < curDate.getDay()) { %>
                   <div class="message-date">
                       <h1><%= curDate.toLocaleString() %></h1>
                   </div>
                   <% prevDate = curDate;
               } %>
               <% if (prevMember === message.member._id) { %>
                   <img src="<%= message.member.avatar %>" alt="avatar">
               <% } %>
               <div class="message-content">
                   <p><%= message.content %></p>
               </div>
           </div> 
        <% }); 
    } %>
</div>
<div class="messagebox-container">
    <form action="/channels/<%= channel.current._id/messages %>" method="POST">
        <div class="form-textarea w90">
            <textarea placeholder="Message #<%= channel.current.name %>" name="content" cols="30" rows="10"></textarea>
        </div>
        <div class="form-submit w90">
            <input type="submit" value="Message #<%= channel.current.name %>">
        </div>
    </form>
</div>

<%- include('../partials/footer'); %>