<div class="channels-container">
    <div class="channel-head">
        <h1>Channels</h1>
        <form class="form" action="/channels" method="POST">
            <input class="form-input <%= user ? 'click' : 'no-click' %>" pattern="^[_A-z0-9]*((-|\s)*[_A-z0-9])*$" <%= user ? '' : 'disabled' %> placeholder="Channel Name" type="text" name="name" required>
            <textarea class="form-textarea <%= user ? 'click' : 'no-click' %>" <%= user ? '' : 'disabled' %> placeholder="Channel Description" name="description"></textarea>
            <div class="form-checkbox">
                <input class="<%= user ? 'click' : 'no-click' %>" <%= user ? '' : 'disabled' %> id="form-private" type="checkbox" name="channelType">
                <label class="form-checkbox-global <%= user ? 'click' : 'no-click' %>" for="form-private">Global</label>
                <label class="form-checkbox-private <%= user ? 'click' : 'no-click' %>" for="form-private">Private</label>
            </div>
            <input class="form-submit <%= user ? 'click' : 'no-click' %>" <%= user ? '' : 'disabled' %> type="submit" value="Add Channel">
        </form>
    </div>
    <% if (channel && channel.all.length) { %>
        <% channel.all.forEach(chan => { %>
            <div class="channel-container <%= channel.current ? channel.current._id.equals(chan._id) ? 'active' : '' : '' %>">
                <% if (chan.channelType === '0' || (chan.channelType === '1' && user && chan.members.find(member => member._id.equals(user._id)))) {%>
                    <% if (chan.channelType === '0') { %>
                        <a href="/channels/<%= chan._id %>"><i class="fab fa-slack-hash"></i><%= chan.name %></a>
                    <% } else { %>
                        <a href="/channels/<%= chan._id %>"><i class="fas fa-lock"></i><%= chan.name %></a>
                    <% } %>
                <% } %>
            </div>
        <% }); %>
    <% } %>
</div>