<%- include('../partials/header'); %>
<%- include('../channels/show'); %>

<div class="messages-container">
    <% if (messages) {
        let prevMember;
        messages.all.forEach(message => { %>
            <div class="message-container">
                <div class="message-head">
                    <% if (prevMember !== message.member._id) { %>
                        <% if (!message.removed) { %>
                            <img src="<%= message.member.avatar %>" alt="avatar">
                            <h1><%= message.member.name %></h1>
                            <p><%= formatAMPM(new Date(message.createdAt)) %></p>
                            <% prevMember = message.member._id %>
                        <% } else {
                            prevMember = null;
                        } %>
                    <% } %>
                </div>
                <div class="message-wrapper">
                    <% if (message._id.equals(messages.current)) { %>
                        <form class="snap" action="/channels/<%= channel.current._id %>/messages/<%= message._id %>?_method=PUT" method="POST">
                            <textarea class="form-input" name="content"><%= message.content %></textarea>
                            <input class="form-submit" type="submit" value="Save Changes">
                        </form>
                        <a class="form-cancel" href="/channels/<%= channel.current._id %>">CANCEL</a>
                    <% } else { %>
                        <div class="message-content <%= message.removed ? 'removed' : '' %>">
                            <% if (message.removed) { %>
                                <h1><i class="fas fa-trash-alt"></i></h1>
                                <% prevMember = null; %>
                            <% } else { %>
                                    <p class="time"><%= formatHM(new Date(message.createdAt)) %></p>
                            <% } %>
                            <div class="content">
                                <p><%- linkify(message.content) %></p>
                                <div class="message-details">
                                    <a href="/channels/<%= channel.current._id %>/messages/<%= message._id %>"><i class="fas fa-reply"></i></a>
                                    <% if (user && user._id.equals(message.member._id)) { %>
                                        <% if (!message.removed) { %>
                                            <a href="/channels/<%= channel.current._id %>/messages/<%= message._id %>/edit"><i class="far fa-edit"></i></a>
                                            <form action="/channels/<%= channel.current._id %>/messages/<%= message._id %>?_method=DELETE" method="POST">
                                                <button class="delete"><i class="fas fa-backspace"></i></button>
                                            </form>
                                        <% } 
                                    } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <% if (message.replies.length) { %>
                        <div class="message-replies">
                            <a href="/channels/<%= channel.current._id %>/messages/<%= message._id %>">
                                <i class="fas fa-reply-all"> <%= message.replies.length %> <%= message.replies.length === 1 ? 'reply' : 'replies' %> </i>
                            </a>
                        </div>
                    <% } %>
                </div>
           </div> 
        <% }); 
    } %>
</div>

<div class="messagebox-container">
    <form class="message-form" action="/channels/<%= channel.current._id %>/messages" method="POST">
        <textarea class="form-textarea <%= user ? 'click' : 'no-click' %>" <%= user ? '' : 'disabled' %> placeholder="Message #<%= channel.current.name %>" name="content"></textarea>
        <button class="form-submit <%= user ? 'click' : 'no-click' %>" <%= user ? '' : 'disabled' %>><i class="fas fa-paper-plane"></i></button>
    </form>
</div>

<script src="/javascripts/scrollbottom.js"></script>

<%- include('../partials/footer'); %>


<% 
function linkify(inputText) {
    var replacedText, replacePattern1, replacePattern2, replacePattern3;

    //URLs starting with http://, https://, or ftp://
    replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
    replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

    //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
    replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
    replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

    //Change email addresses to mailto:: links.
    replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
    replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');
    replacedText = replacedText.replace(/script+class+div+/g, '');

    return replacedText;
}
function formatAMPM(date) {
    let hours = date.getHours();
    let minutes = date.getMinutes();
    let ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12;
    hours = hours ? hours : 12; 
    minutes = minutes < 10 ? '0' + minutes : minutes;
    const strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
}
function formatHM(date) {
    let hours = date.getHours();
    let minutes = date.getMinutes();
    hours = hours % 12;
    hours = hours ? hours : 12; 
    minutes = minutes < 10 ? '0' + minutes : minutes;
    const strTime = hours + ':' + minutes;
    return strTime;
}
%>