<%- include('../partials/header'); %>
<%- include('../channels/show'); %>

<div class="messages-container">
    <% if (messages && messages.length) {
        let prevMember;
        messages.forEach(message => { %>
            <div class="message-container">
                <div class="message-head">
                    <% if (prevMember !== message.member._id) { %>
                        <% if (!message.removed) { %>
                            <img src="<%= message.member.avatar %>" alt="avatar">
                            <h1><%= message.member.name %></h1>
                            <p><%= formatAMPM(new Date(message.createdAt)) %></p>
                            <% prevMember = message.member._id %>
                        <% } else {
                            prevMember = null;
                        } %>
                    <% } %>
                </div>
                <div class="message-wrapper">
                    <div class="message-content <%= message.removed ? 'removed' : '' %>">
                        <% if (message.removed) { %>
                            <h1><i class="fas fa-trash-alt"></i></h1>
                            <% prevMember = null; %>
                        <% } else { %>
                                <p class="time"><%= formatHM(new Date(message.createdAt)) %></p>
                        <% } %>
                        <div class="content">
                            <p><%= message.content %></p>
                            <div class="message-details">
                                <a href="/channels/<%= channel.current._id %>/messages/<%= message._id %>"><i class="fas fa-reply"></i></a>
                                <% if (user && user._id.equals(message.member._id)) { %>
                                    <% if (!message.removed) { %>
                                        <a href="/channels/<%= channel.current._id %>/messages/<%= message._id %>/edit"><i class="far fa-edit"></i></a>
                                        <form action="/channels/<%= channel.current._id %>/messages/<%= message._id %>?_method=DELETE" method="POST">
                                            <button class="delete"><i class="fas fa-backspace"></i></button>
                                        </form>
                                    <% } 
                                } %>
                            </div>
                        </div>
                    </div>
                    <% if (message.replies.length) { %>
                        <div class="message-replies">
                            <a href="/channels/<%= channel.current._id %>/messages/<%= message._id %>">
                                <i class="fas fa-reply-all"> <%= message.replies.length %> <%= message.replies.length === 1 ? 'reply' : 'replies' %> </i>
                            </a>
                        </div>
                    <% } %>
                </div>
           </div> 
        <% }); 
    } %>
</div>

<div class="messagebox-container">
    <form class="message-form" action="/channels/<%= channel.current._id %>/messages" method="POST">
        <textarea class="form-textarea <%= user ? 'click' : 'no-click' %>" <%= user ? '' : 'disabled' %> placeholder="Message #<%= channel.current.name %>" name="content"></textarea>
        <button class="form-submit <%= user ? 'click' : 'no-click' %>" <%= user ? '' : 'disabled' %>><i class="fas fa-paper-plane"></i></button>
    </form>
</div>

<script src="/javascripts/scrollbottom.js"></script>

<%- include('../partials/footer'); %>

<% 
function getDay(day) {
    const weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    return weekdays[day];
}
function getMonth(month) {
    const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"];
    return monthNames[month];

}
function ordinalSuffix(i) {
    var j = i % 10,
        k = i % 100;
    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
}
function formatDate(date) {
    const day = date.getDay();
    const dayStr = getDay(day);
    const ordSuf = ordinalSuffix(day);
    const month = getMonth(date.getMonth());
    const strDate = `${dayStr}, ${month} ${ordSuf}`;
    return strDate;
}
function formatAMPM(date) {
    let hours = date.getHours();
    let minutes = date.getMinutes();
    let ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12;
    hours = hours ? hours : 12; 
    minutes = minutes < 10 ? '0' + minutes : minutes;
    const strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
}
function formatHM(date) {
    let hours = date.getHours();
    let minutes = date.getMinutes();
    hours = hours % 12;
    hours = hours ? hours : 12; 
    minutes = minutes < 10 ? '0' + minutes : minutes;
    const strTime = hours + ':' + minutes;
    return strTime;
}
%>