<%- include('../partials/header'); %>
<%- include('../channels/show'); %>

<div class="messages-container">
    <div class="message-wrapper">
        <div class="message-container">
            <div class="message-head">
                <% if (!message.removed) { %>
                    <img src="<%= message.member.avatar %>" alt="avatar">
                    <h1><%= message.member.name %></h1>
                    <p><%= formatAMPM(new Date(message.createdAt)) %></p>
                <% } %>
            </div>
            <div class="message-content <%= message.removed ? 'removed' : '' %>">
                <% if (message.removed) { %>
                    <h1><i class="fas fa-trash-alt"></i></h1>
                <% } else { %>
                        <p class="time"><%= formatHM(new Date(message.createdAt)) %></p>
                <% } %>
                <div class="content">
                    <p><%- linkify(message.content) %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="message-strike">
        <h1><span>Replies</span></h1>
    </div>
    <% if (replies.length) {
        let prevMember;
        replies.forEach(reply => { %>
            <div class="message-container">
                <div class="message-head">
                    <% if (prevMember !== reply.member._id) { %>
                        <img src="<%= reply.member.avatar %>" alt="avatar">
                        <h1><%= reply.member.name %></h1>
                        <p><%= formatAMPM(new Date(reply.createdAt)) %></p>
                        <% prevMember = reply.member._id %>
                    <% } %>
                </div>
            </div>
            <div class="message-wrapper">
                <div class="message-content">
                    <p class="time"><%= formatHM(new Date(reply.createdAt)) %></p>
                    <div class="content">
                        <p><%- linkify(reply.content) %></p>
                        <div class="message-details">
                            <% if (user && user._id.equals(reply.member._id)) { %>
                                <a class="click" href="/channels/<%= channel.current._id %>/messages/<%= message._id %>/replies/<%= reply._id %>/edit"><i class="far fa-edit"></i></a>
                                <form action="/channels/<%= channel.current._id %>/messages/<%= message._id %>/replies/<%= reply._id %>?_method=DELETE" method="POST">
                                    <button class="delete click"><i class="fas fa-backspace"></i></button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% });
     } %>
</div>

<div class="messagebox-container">
    <form class="message-form" class="form" action="/channels/<%= channel.current._id %>/messages/<%= message._id %>" method="POST">
        <textarea class="form-textarea <%= user ? 'click' : 'no-click' %>" <%= user ? '' : 'disabled' %> placeholder="Reply to @<%= message.member.name.replace(/\s/g, '-').toLowerCase() %>" name="content"></textarea>
        <button class="form-submit <%= user ? 'click' : 'no-click' %>" <%= user ? '' : 'disabled' %>><i class="fas fa-paper-plane"></i></button>
    </form>
</div>

<script src="/javascripts/scrollbottom.js"></script>

<%- include('../partials/footer'); %>

<% 
function linkify(inputText) {
    var replacedText, replacePattern1, replacePattern2, replacePattern3;

    //URLs starting with http://, https://, or ftp://
    replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
    replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

    //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
    replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
    replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

    //Change email addresses to mailto:: links.
    replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
    replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');
    replacedText = replacedText.replace(/script+class+div+/g, '');

    return replacedText;
}
function formatAMPM(date) {
    let hours = date.getHours();
    let minutes = date.getMinutes();
    let ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12;
    hours = hours ? hours : 12; 
    minutes = minutes < 10 ? '0' + minutes : minutes;
    const strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
}
function formatHM(date) {
    let hours = date.getHours();
    let minutes = date.getMinutes();
    hours = hours % 12;
    hours = hours ? hours : 12; 
    minutes = minutes < 10 ? '0' + minutes : minutes;
    const strTime = hours + ':' + minutes;
    return strTime;
}
%>